<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Авторизуйся 🤨</title>
</head>
<body>
    <h1>{{info.error}}</h1>
    <form method="post">
        {% csrf_token %}
        <label for="username">Введите логин</label>
        <input type="text" id="username" name="username" minlength="3" maxlength="30">

        <label for="password">Введите пароль</label>
        <input type="text" id="password" name="password" minlength="8">

        <label for="repeat_password">Повторите пароль</label>
        <input id="repeat_password" minlength="8" name="repeat_password" type="text">

        <label for="age">Введите возраст</label>
        <input id="age" max="120" name="age" type="number">

        <button type="submit">Войти</button>
    </form>
    <p align="center">{{info.message}}</p>
</body>
</html>